.container {
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  border: 1px solid;
  border-radius: 20px;
  background-color: #ffdab9;
}

.container-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-btn {
  border: none;
  color: white;
  background-color: rgb(0, 191, 255);
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn {
  border: none;
  color: white;
  background-color: red;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.app.light {
  background-color: #f5f5f5;
  min-height: 100vh;
  padding: 20px;
}


.app.dark {
  background-color: #1a1a1a;
  min-height: 100vh;
  padding: 20px;
}

.theme-btn {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  background-color: rgb(132, 0, 255);
  cursor: pointer;
}

.theme-container{
  display: flex;
  justify-content: right;
}