.container {
  font-family: Arial, Helvetica, sans-serif;
  color: #2b2839;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #ffdab9;
}

.container-1{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-btn{
  border: none;
  color:white;
  background-color: rgb(0, 191, 255);
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn{
  border: none;
  color: white;
  background-color: red;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

li{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 10px;
}